@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

html, body {
    height: 100%;
    font-family: 'Spartan';
}

body
{
    background-image: url('../img/bahia_cadiz.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}