@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

html, body {
    height: 100%;
    font-family: 'Spartan';
}

body
{
    background-image: url('../img/bahia_cadiz.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

footer.footer {
    background-color: #6E1729;
    opacity: 0.5;
    width: 100%;
    height: 15%;
    text-align: center;
    padding: 2%;
}

.nav_footer {
    color: white;
    height: 100%;
}