header.header {
    text-align: center;
    max-height: 45%;
    min-height: 20%;
}

.subheader {
    margin-top: -2%;
}

.nav_header > a {
    color: white;
    margin: 2%;
    padding: 1% 2% 1% 2%;
}

.logo {
    width: 10%;
    height: 10%;
}

section.body {
    max-height: 90%;
    min-height: 40%;
    padding-right: 5%;
    width: 100%;
}

section.body > aside.news_body {
    float: right;
    height: 100%;
    width: 20%;
    opacity: 0.6;
}

section.body > aside.news_body * span.header_news_body {
    font-weight: bold;
}

footer.footer * a {
    color: white;
    text-decoration: none;
}

footer.footer * a:hover {
    color: blue;
    text-decoration: underline;
}

/* .nav_header > button {
    color: white;
    margin: 2%;
    padding: 1% 2% 1% 2%;
} */