header
{
    
    display:inline;
}
.header-header
{
    display:flex;
    background-color:rgba(110, 23, 41, 0.7);
    height: 50px;
    
    
}
header img{
    height: 100%;
    display:inline;
}


nav{
    display:inline;
    font-family: Spartan;
}
.nav-list{
    list-style:none;
    display:none;

}

.nav-list:hover{
    display:inline;
}



section.body {

   /*Opacity in the background and not in the text.*/
    background: rgba(248, 249, 250, 0.7);
    margin: 5% 5% 0% 5%;
    overflow: auto;
    font-size: 170%;
    /*Top`, right, bottom, left.*/
    padding: 5% 15% 5% 15%; 
    margin-top: 10%;
    

}


/*Not neccesary.*/
/*footer.footer {
    
    height: 7%;
    color: white;
    margin-top:10%;
    font-size:170%;
}*/

footer.footer * hr {
    color: #D3484B;
    border: 1px solid #D3484B;
}


